body{
	
}
#menu ul{
	list-style: none;
	width: 285px;
}
#menu{
	margin-left: -15px;
}
#menu ul li{
	padding: 5.8px;
    margin-left: 0px;
    position: relative;
    width: 285px;
    padding-left: 20px;
}
#menu ul li:hover{

	background-color: #d1d2d4;
	
}
#menu ul li a{
	color: 58585a;
	text-decoration: none;
}
/*#color-main01{
	background-color: #e7e8e9;
	
}*/
#logo{
	height: 140px;
    width: 140px;
    margin-left: 45px;
    position: relative;
    margin-top: -44px !important;
}