/*wrap style for all*/

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
article,
section
{
	font-family: "Roboto",Arial, sans-serif;
}

h1{
	font-size: 25pt;
}
h2{
	font-size: 20pt;
}
h3{
	font-size: 17.5pt;
}
h4{
	font-size: 15pt;
}
h5{
	font-size: 12.5pt;
}
p h6 a{
	font-size: 12pt;
}
     #search{
         width: 200px;

     }
     #research{
         width: 300px;
     }
     .width-space{
         width: 24%;
     }
     .space-right{
         padding-right: 5px;
     }
     img:hover, a:hover {
          background-color: #e7e7e8;
      }