body{
    margin: 0 auto !important;
    position: relative;
    padding: 2%;
    background: #F4F7FA;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;


}
.border-logo{
    width: 100%;
    background-color: #fff;
    height: 20%;
}
@media only screen and (max-width: 480px){
    .col{
        border-bottom:0;
    }

}
.row{
    margin-left: 0%;
}
.headerReg{
    background: #FFFFFF;
    width: 100%;
    height: 50%;
    padding: 20px;
    padding-right: 20px;
    margin-top: -30px;
    margin-left: -30px;

}

